

		  <div class="container">
<div class="header row">
		
		<div id="logo" class="col-md-3 col-sm-3">
        <h3 class="text-muted">旭昕集团</h3>
		</div>
		<div class="col-md-9 col-md-9">
        <ul class="nav nav-pills  pull-right">
          <li><a href="#">首页</a></li>
		  <li><a data-toggle="modal" href="#test">集团概况</a></li>
          <li><a href="#">集团文化</a></li>
          <li><a href="#">品牌战略</a></li>
          <li><a href="#">研发设计</a></li>
          <li><a href="#">客户服务</a></li>
          <li><a href="#">联系我们</a></li>
        </ul>
		</div>
      </div>



	  <div class="row major">
			  <div class="col-md-9 col-sm-12 col-xs-12">
<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img   src="img/slide1.png" alt="...">
    </div>
    <div class="item">
      <img   src="img/slide1.png" alt="...">
    </div>
  </div>

</div>
					  
			  </div>
			  <div class="col-md-3 col-sm-12 col-xs-12">
					  <div class="row">
					  <div class="widget-news widget col-md-12 col-sm-6">
							  <h3>新闻中心</h3>
							  <ul class="list-unstyled">
									  <li><small>>></small><a href="#">测试</a></li>
									  <li><small>>></small><a href="#">测试</a></li>
									  <li><small>>></small><a href="#">测试</a></li>
									  <li><small>>></small><a href="#">测试</a></li>
									  <li><small>>></small><a href="#">测试</a></li>
							  </ul>
					  </div>
					  <div class="widget-news widget col-md-12 col-sm-6">
							  <h3>热点动态</h3>
							  <ul class="list-unstyled">
									  <li><small>>></small><a href="#">测试</a></li>
									  <li><small>>></small><a href="#">测试</a></li>
									  <li><small>>></small><a href="#">测试</a></li>
									  <li><small>>></small><a href="#">测试</a></li>
									  <li><small>>></small><a href="#">测试</a></li>
							  </ul>
					  </div>
					  </div>
			  </div>
			  </div>


				  

			  <div class="row" id="roll-brands">
					  <ul class="list-inline">
							  <li class="brand">
							  <div class="brand-title">
							  <h3>博锐思</h3>
								<img src="img/logo/botros-logo.png" alt="" />
							  </div>
							  <div class="brand-product">
									  <img src="img/logo/botros-product.png" alt="" />
							  </div>
							  </li>
							  <li class="brand">
							  <div class="brand-title">
							  <h3>博锐思</h3>
								<img src="img/logo/botros-logo.png" alt="" />
							  </div>
							  <div class="brand-product">
									  <img src="img/logo/botros-product.png" alt="" />
							  </div>
							  </li>
							  <li class="brand">
							  <div class="brand-title">
							  <h3>博锐思</h3>
								<img src="img/logo/botros-logo.png" alt="" />
							  </div>
							  <div class="brand-product">
									  <img src="img/logo/botros-product.png" alt="" />
							  </div>
							  </li>
							  <li class="brand">
							  <div class="brand-title">
							  <h3>博锐思</h3>
								<img src="img/logo/botros-logo.png" alt="" />
							  </div>
							  <div class="brand-product">
									  <img src="img/logo/botros-product.png" alt="" />
							  </div>
							  </li>
							  <li class="brand">
							  <div class="brand-title">
							  <h3>博锐思</h3>
								<img src="img/logo/botros-logo.png" alt="" />
							  </div>
							  <div class="brand-product">
									  <img src="img/logo/botros-product.png" alt="" />
							  </div>
							  </li>
							  <li class="brand">
							  <div class="brand-title">
							  <h3>博锐思</h3>
								<img src="img/logo/botros-logo.png" alt="" />
							  </div>
							  <div class="brand-product">
									  <img src="img/logo/botros-product.png" alt="" />
							  </div>
							  </li>
					  </ul>
			  </div>


		  </div>





		  <div class="modal fade" id="test" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog">
							    <div class="modal-content">
										      <div class="modal-header">
													          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
															          <h4 class="modal-title" id="myModalLabel">集团概况</h4>
																	        </div>
																			      <div class="modal-body">
																						  <p>
																						          																						  旭昕集团是专业从事车载影音导航系统、倒车雷达系统、安全行车预警系统、汽车照明系统、车辆远程监控系统等汽车电子产品的研发、制造、销售的大型民营企业。立足汽车后装电子行业，是目前唯一一家车载电子产品横向发展的专业集成商。
																						  </p>
																							<img src="img/group1.png" alt="" />
																						  	<p>
																						  	        																						  	凭借着专业的科研实力和企业整体实力，旭昕集团一向致力于汽车电子信息产品方向的研发、制造与销售，旗下在深圳共有五家子公司，分别为：深圳市旭昕科技有限公司、深圳市旭昕微电子有限公司、深圳市和瑞丰电子有限公司、深圳市太阳鑫源电子有限公司、深圳市旭航网捷科技有限公司。集团旗下各子公司拥有多个品牌，其中旭昕微电子运营的“博锐思” 品牌主要以生产和销售车载倒车雷达、车载影音导航等产品为主；旭航网捷运营的“云捷”品牌主要以生产和销售汽车OBD系统、车辆远程监控等产品为主；和瑞丰电子运营的“韩现”品牌主要以生产和销售安全行车预警等产品为主；太阳鑫源主要以生产和销售HID、LED等一系列汽车照明产品为主。而集团直接运营的“云航”品牌则是集成了各子公司一系列优质产品，以产品横向发展的战略布局，深耕渠道，主营国内市场，为客户和全国4S店提供一站式采购平台。
																						  	</p>
																								<p>
																								        																								2013年，旭昕集团对内部进行战略调整，整合了集团内外部资源。根据未来的发展战略也对各子公司进行了组织架构的重组，成立了“云航”品牌。旭昕集团深耕汽车后市场多年，一直专注于汽车电子的研发，产品在市场上具有较高的品质口碑。
																								</p>
																							<img src="img/group2.png" alt="" />
																									<p>
																									        																									为加深产学研方面的提升，旭昕集团与长沙航院成功签署了共建产学研基地战略合作，并在长沙成立了新的产业链制造基地，为集团的科研、人才储备、生产加工、品质把控等方面的扩张和提升进行了综合战略优化，也为集团的长足发展做好了全面的战略布局。旭昕东升，  乘势启航，荣光万里！
																									</p>
																								        </div>
																																	        </div>
																																			    </div><!-- /.modal-content -->
																																				  </div><!-- /.modal-dialog -->
																																		  </div><!--
